@import '/static/scss/mixins';

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 140px;

  @media (min-width: $media768) {
    max-width: 170px;
  }

  img {
    padding-right: 10px;

    @media (min-width: $media768) {
      padding-right: 20px;
    }
  }

  span {
    @include font_decorative;
    color: $c-white;
  }
}
