.unistall {
    background: transparent;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    padding: 5px;

    &:hover {
        transform: scale(1.4);
    }
}