
@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src:
    url('Poppins-Regular.woff2') format('woff2'),
    url('Poppins-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Merienda';
    font-weight: 700;
    src:
    url('Merienda-Regular_0_wt.woff2') format('woff2'),
    url('Merienda-Regular_0_wt.woff') format('woff');
    font-display: swap;
}
