@import "/static/scss/mixins";

.categories {
  margin-bottom: 40px;

  .List {
    display: flex;
    overflow: auto;
  }

  .Item {
    margin-right: 30px;
    transition: 0.4s;

    &:hover {
      opacity: 0.5;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .Btn {
    padding: 8px 15px;
    border-radius: 25px;
    border: none;
    background: $c-white;
    cursor: pointer;
    border: none;

    &.Active {
      background: black;
      color: $c-white;
    }
  }
}
