@import '/static/scss/mixins';

.categories {
  margin-bottom: 20px;



  .List {
    display: flex;
    overflow: auto;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      height: 2px;
      width: 7px!important;
    }


  }

  .Item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  .Btn {
    pointer-events: auto;
    cursor: pointer;
    background: $c-white;
    border: none;
    padding: 0.3rem 1rem;
    margin: 0;
    position: relative;
    display: inline-block;
    transition: 0.4s;
    border-radius: 15px;
    white-space: nowrap;

    &:hover {
      color: $c-white;
      border-radius: 50%;
      box-shadow: inset 0 0 0 40px #000;
      transition-delay: 0s, 0s, 0.2s;
    }

    &.Active {
      color: $c-white;
      border-radius: 50%;
      box-shadow: inset 0 0 0 40px #000;
      transition-delay: 0s, 0s, 0.2s;
    }

    @media (min-width: $media768) {
      padding: 0.5rem 1.5rem;
    }
  }
}
