@import "/static/scss/mixins";

.header {
  display: flex;
  justify-content: space-around;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.wrapper {
  
  &:last-child {
    align-items: flex-start;
  }
}

.img {
  width: 150px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Price {
  color: $c-white;
  font-size: 29px;
}

.Delete {
  position: relative;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.4s;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &:hover {
    &::after, &::before  {
      background: red;
    }
  }
}
