@import '/static/scss/mixins';

.Product {
  padding-bottom: 80px;

  .List {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: center;
    will-change: transform;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .ImgWrapper {
    transition: 0.8s;
    position: relative;
    display: flex;
    flex-direction: column;
    will-change: transform;
    height: 100%;
    justify-content: center;

    &:hover {
      transform: rotateY(-180deg);

      .Img {
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
      }

      .ListHover {
        position: relative;
        opacity: 1;
        transform: rotateY(180deg);

        .Header {
          margin-bottom: 20px;
        }

        .ItemHover {
          margin-bottom: 15px;
        }
      }
    }
  }

  .Item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $c-white;
    border-radius: 25px;
    cursor: pointer;
    max-width: 480px;
    position: relative;
  }

  .ListHover {
    position: absolute;
    opacity: 0;
    transition: 0.8s;
  }

  .Add {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Img {
    width: 100%;
    transition: 0.8s;
    position: relative;
  }
}

.PopupProduct {
  .PopupImg {
    max-width: 170px;
    width: 100%;

    @media (min-width: $media375) {
      min-width: 250px;
    }

    @media (min-width: $media768) {
      min-width: 500px;
    }
  }

  .PopupList {
    padding: 20px;
    background-color: $c-white;
    border-radius: 25px;
    text-align: left;
    font-size: 14px;
    box-shadow: 0 0 10px 10px darkgrey;
  }

  .PopupItem {
    position: relative;
    margin-bottom: 10px;
    margin-left: 15px;
    padding-left: 10px;
    list-style: auto;

    @media (min-width: $media768) {
      min-width: 15px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }
}
