@import '/static/scss/mixins';
html {
  scroll-behavior: smooth;
}

.app-wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  background-clip: content-box;
  box-sizing: border-box;
  padding: 0 20px;
  min-height: 100vh;

  @media (min-width: $media768) {
    padding: 0 34px;
  }

  @media (min-width: $media768) {
    padding: 0 64px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  max-width: 100%;
  background: linear-gradient(to top, #3333cc 0%, #9900ff 75%);
  background-repeat: no-repeat;
  @include font_default;
  @include fontsize_default;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  widows: 15px;
}

::-webkit-scrollbar-thumb {
  background: white;
}

a {
  text-decoration: none;
  color: $c-black;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
