@import '/static/scss/mixins';

.CartEmty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Title {
    @include font_decorative;
    @include fontsize_h1;
  }

  .SubTitle {
    @include fontsize_decorative;
  }

  .ContentWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: px;
    grid-row-gap: 20px;
    letter-spacing: 1.5px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .TextWrapper {
    display: flex;
    flex-direction: column;
  }
}
