@import '/static/scss/mixins';

.header {
  padding: 50px 0;
  margin-bottom: 50px;
  background-color: i;

  .nav_block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Logo {
      transition: opacity 0.2s ease;
      display: block;
      max-width: 1760px;
  
      &:hover {
        opacity: 0.67;
      }
  
      &.active {
        pointer-events: none;
      }
    }
  }
}
