//=======================
// Точки для media-queries
//=======================
$media1200: 1200px;
$media768: 768px;

//=======================
// Цвета
//=======================
$c-white: #fff;
$c-orange: #f88230;
$c-black: #000;
$c-grey: grey;
